.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  color: #61dafb;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin: 0 15px;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #61dafb;
}

.cart-link {
  color: white;
}

.navbar.dark {
  background-color: #1c1e22;
}

.navbar.light {
  background-color: #f8f9fa;
  color: #000;
}

.navbar.light .nav-link {
  color: #000;
}

.navbar.light .nav-link:hover {
  color: #007bff;
}
